@import url('https://fonts.googleapis.com/css?family=Baskervville:400,400i|Poiret+One&display=swap&subset=cyrillic,latin-ext');

@font-face {
  font-family: "My Custom Font";
  src: url("../includes/fonts/Tryst-Regular.otf") format("opentype");
}

$accent: #fdcab8;
$primary: rgb(103, 103, 103);
$grey: #bdbdbd;

$heading-font: 'Baskervville', serif;
$main-font: 'Poiret One', cursive;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: $main-font;
  color: $primary;
}

body {
  background: lighten($grey, 20%);
}
