#header {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 8;
  #logo {
    position: relative;
    display: block;
    margin: 15px;
    img {
      width: 100px;
      transition: 0.3s all;
    }
  }
}

// body.home {
//   #header {
//     &.fixed {
//       #logo {
//         transform: unset;
//         background: unset;
//       }
//     }
//     #logo {
//       transform: translateX(-100%);
//     }
//   }
// }
