#header {
  position: absolute;
  width: auto;
  height: 100px;
  top: 30px;
  z-index: 999;
  transition: all 1s ease;
  left: 30px;
  #logo {
    position: absolute;
    img {
      width: 100px;
    }
  }
}

// body.home {
//   #header {
//     &.fixed {
//       #logo {
//         transform: unset;
//         background: unset;
//       }
//     }
//     #logo {
//       transform: translateX(-100%);
//     }
//   }
// }
