main {
  .posts-sec-outer {
    #home-prods {
      width: 100%;
      height: 100vh;
      .product-item {
        width: 100%;
        height: 100%;
        position: absolute;
        .product-info-wrap {
          width: 100%;
          height: 100%;
          position: relative;
          .feat-img-wrap {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            #home-prods-overlay {
              width: 100%;
              height: 100vh;
              position: absolute;
              top: 0;
              left: 0;
              .left {
                width: 50%;
                background: rgba(0, 0, 0, 0.4);
              }
              .right {
                width: 50%;
                background: rgba(255, 255, 255, 0.2);
                left: 50%;
              }
              div {
                height: 100%;
                position: absolute;
              }
            }
          }
          .prod-info {
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translateY(-50%);
            width: calc(40% - 40px);
            padding: 20px;
            h4 {
              font-size: 35px;
              color: $grey;
              font-family: $heading-font;
              a {
                text-decoration: none;
                .collection-title {
                  font-size: 20px;
                  font-style: italic;
                  color: white;
                  padding-left: 10px;
                }
              }
            }
            .product-content {
              margin-top: 5px;
              font-size: 22px;
              color: white;
              background: rgba($grey, 0.15);
              padding: 30px;
            }
            .prod-thumbs {
              margin-top: 30px;
              .thumb-wrap {
                display: inline-block;
                margin-right: 5px;
                padding: 5px 0px 5px 5px;
                img {
                  border-right: 1px solid rgba($accent, 0.3);
                  padding-right: 10px;
                  cursor: pointer;
                }
                &:last-child {
                  img {
                    border: 0;
                  }
                }
              }
            }
            .az-link {
              margin-top: 30px;
              a {
                text-decoration: none;
                display: inline-block;
                padding: 10px 20px;
                border-bottom: 1px solid $accent;
                border-top: 1px solid $accent;
                border-radius: 2.5px;
                color: white;
              }
              span {
                color: white;
              }
            }
          }
        }
      }
    }
    #link-to-prods {
      position: absolute;
      bottom: 0;
      left: 50%;
      background: lighten($grey, 20%);
      a {
        text-decoration: none;
        padding: 25px 40px;
        display: block;
        font-family: $heading-font;
        font-size: 16px;
      }
    }
    #large-img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.7);
      display: none;
      z-index: 999;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        max-height: 90%;
        width: auto;
      }
    }

    /* about sec */
    #home-about {
      position: relative;
      margin: 100px 150px;
      #about-back {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
        opacity: 0.25;
        position: absolute;
        top: 0;
        left: 0;
      }
      #about-wrap {
        position: relative;
        height: auto;
        padding: 70px 100px;
        background: rgba(lighten($grey, 50%), 0.4);
        .excerpt {
          width: 30%;
          display: inline-block;
          h3 {
            font-family: $heading-font;
            font-size: 25px;
            padding-bottom: 10px;
          }
          a {
            display: inline-block;
            margin-top: 30px;
            text-decoration: none;
            padding: 10px;
            border-bottom: 1px solid $accent;
            border-top: 1px solid $accent;
            border-radius: 2.5px;
            width: auto;
          }
        }
        .feat-img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          img {
            max-width: 350px;
          }
        }
        .quote {
          width: 30%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          font-family: $heading-font;
          font-size: 30px;
        }
      }
    }
    #home-insta {
      position: relative;
      background: lighten($grey, 5%);
      #insta-link {
        position: absolute;
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba($grey, 0.8);
        padding: 50px 100px;
        h3 {
          a {
            font-family: $heading-font;
            font-size: 15px;
            text-decoration: none;
            span {
              font-family: $main-font;
              font-size: 25px;
            }
          }
        }
      }
      #insta-posts {
        min-height: 100vh;
        .insta-post {
          display: inline-block;
          position: absolute;
          left: 25%;
          top: 25%;
          width: 300px;
          img {
            width: 100%;
          }
          &:nth-child(2) {
            left: 40%;
            top: 35%;
          }
          &:nth-child(3) {
            left: 27%;
            top: 55%;
          }
          .img-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            span {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              color: #fff;
              display: block;
            }
          }
        }
      }
    }
  }
}
