body.single-product {
  background: #fff;
  .prod-outer {
    min-height: calc(100vh - 100px);
    position: relative;
    width: 90%;
    margin-top: 100px;
    .prod-left {
      position: relative;
      height: 100%;
      width: 50%;
      .prod-title {
        h2 {
          color: darken($grey , 5%);
          font-family: $heading-font;
          font-weight: 300;
          font-size: 50px;
          text-align: right;
          padding: 100px 30px 0px 0px;
        }
      }
      .prod-info {
        .prod-content {
          padding: 50px 30px 0 0;
          text-align: right;
          color: darken($grey , 15%);
        }
      }
      .az-link {
        padding: 50px 0 0 0;
        text-align: center;
        a {
          text-decoration: none;
          display: inline-block;
          padding: 10px 20px;
          border-bottom: 1px solid $accent;
          border-top: 1px solid $accent;
          border-radius: 2.5px;
          color: $primary;
        }
        span {
          color: $primary;
          font-size: 13px;
        }
      }
      .prod-thumbs {
        text-align: center;
        padding-top: 40px;
        .gall-img-wrap {
          display: inline-block;
          margin: 30px 10px;
        }
      }
    }
    .prod-right {
      position: absolute;
      height: 100%;
      width: 50%;
      right: 0;
      top: 0;
      .prod-back-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top right;
        background-attachment: fixed;
      }
    }
  }

  .the-title {
    width: 48%;
    margin-top: 100px;
    float: left;
  }

  .woocommerce {
    div.product {
      div.summary {
        float: left;
        width: 25%;
        position: absolute;
        top: 50vh;
        padding: 30px;
      }
      .woocommerce-tabs {
        clear: none;
      float: left;
      width: 48%;
      }
      section.related {
        clear: both;
      }
      .woocommerce-product-gallery {
        clear: both;
        float: unset;
        max-height: 100vh;
        margin: auto;
        width: 100%;
      }
      .images {
        .woocommerce-product-gallery__trigger {
          display: none;
        }
        .flex-viewport {
          background-size: cover;
          img {
            height: 100vh !important;
            width: auto !important;
            margin: auto !important;
          }
        }
        .flex-active-slide {
          img {
            height: 100vh;
            width: auto;
            margin: auto;
            &.zoomImg {
              display: none !important;
            }
          }
        }
        .flex-control-thumbs {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: auto;
          max-width: unset;
          background: $primary;
          padding: 10px;
          li {
            width: 50px;
            display: inline-block;
          }
        }
      }
    }
  }
}