
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /greyblack/app/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /greyblack/app/index.php [L]
</IfModule>

#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond %{REQUEST_URI} !/maintenance.html$ 
#RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]
#RewriteCond %{REMOTE_HOST} !^212\.56\.154\.55
#RewriteRule $ /maintenance.html [R=302,L] 
#</IfModule>

# END WordPress


# END WordPress

# BEGIN WordPress
#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]
#</IfModule>
# END WordPress